@page "/Account"
@inject Dating.Data.Models.DatingContext DbContext
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider
@using Dating.Data.Services
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject SimpleAuthService SimpleAuthService

<h3>Profilsite</h3>

@if (SimpleAuthService.CurrentUser == null)
{
    <p>Profil fejl</p>
}
else
{
    <div>
        <h4>Brugerprofil</h4>
        <p>ID: @SimpleAuthService.CurrentUser.Id</p>
        <p>Brugernavn: @SimpleAuthService.CurrentUser.UserName</p>
    </div>
}

@code{

}








