@page "/Account"
@inject Dating.Data.Models.DatingContext DbContext
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider
@using Dating.Data.Services
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject SimpleAuthService SimpleAuthService
@inject NavigationManager NavigationManager


@if (SimpleAuthService.CurrentUser != null)
{
    <div>
        <h4>Userprofil</h4>
        <p>ID: @SimpleAuthService.CurrentUser.Id</p>
        <p>Username: @SimpleAuthService.CurrentUser.UserName</p>
        <button class="btn btn-danger" @onclick="Logout">Log ud</button>

        <button class="btn btn-primary" @onclick="indtast">Indtast ProfilDetails</button>
    </div>
}
else
{
    <p>Profil fejl</p>
}

@code {

    private void indtast()
    {
        NavigationManager.NavigateTo("/ProfilDetail");
        
    }

    // Metoden der kaldes, når "Log ud" knappen klikkes
    private void Logout()
    {
        SimpleAuthService.Logout();
        NavigationManager.NavigateTo("/");
        
                                    // Kalder Logout metoden class SimpleAuthService
                                   
    }
}
