@page "/Account"
@inject Dating.Data.Models.DatingContext DbContext
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.EntityFrameworkCore

<h3>Profilsite</h3>

@if (accountProfile == null)
{
    <p>Profil fejl</p>
}
else
{
    <div>
        <h4>Brugerprofil</h4>
        <p>ID: @accountProfile.Id</p>
        <p>Brugernavn: @accountProfile.UserName</p>
    </div>
}

@code {
    private Dating.Data.Models.AccountProfile accountProfile;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userName = user.Identity.Name;
            accountProfile = await DbContext.Accounts
                                     .Where(a => a.UserName == userName)
                                     .Select(a => new Dating.Data.Models.AccountProfile { Id = a.Id, UserName = a.UserName })
                                     .FirstOrDefaultAsync();
        }
    }
}
