@page "/createuser"
@using Dating.Data.Crud.Interface
@using Dating.Data.Models
@inject AccountProfile account
@inject ICrud Icrud


<h3>Create User </h3>


<EditForm Model="@account" FormName="ad" OnValidSubmit="@CreateAccount">
    <div class="form-group">
        <label for="Name">Name:</label>
        <InputText id="Name" class="form-control" @bind-Value="account.UserName" />
    </div>

    <div class="form-group">
        <label for="Password">Password:</label>
        <InputText id="Password" class="form-control" @bind-Value="account.Password" />
    </div>
    <!-- Knap til at fuldføre oprettelsen -->
    <button type="submit" class="btn btn-primary">Opret</button>
</EditForm>

@if (!string.IsNullOrWhiteSpace(userCreationMessage))
{
    <div class="alert alert-success" role="alert">
        @userCreationMessage 
    </div>
}

@code {
    // Deklarerer en variabel til at holde beskeden om brugeroprettelse.
    private string userCreationMessage;

    // Metode til at oprette en ny brugeraccount.
    private void CreateAccount()
    {
        Icrud.CreateAP(account); // Kalder en metode til at oprette brugeren i databasen.
        userCreationMessage = "Brugeren er oprettet"; // Sætter beskeden om succesfuld brugeroprettelse.
    }
}
