@page "/"
@inject DatingContext DbContext
@using Dating.Data.Models
@inject NavigationManager NavigationManager
@using Dating.Data.Services
@using Microsoft.EntityFrameworkCore
@inject SimpleAuthService SimpleAuthService

<PageTitle>Login</PageTitle>

<h3>Login </h3>

<EditForm Model="@loginModel" OnValidSubmit="@HandleLogin">
    <div class="form-group">
        <label for="userName">UsernName:</label>
        <InputText id="userName" @bind-Value="loginModel.UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="loginModel.Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Log ind</button>
</EditForm>


@if(loginFailed)
{
    <div class="alert alert-danger" role="alert">
        Login failed. Check UserName or Password.
    </div>
}
@code {
    private Data.Models.AccountProfile loginModel = new Data.Models.AccountProfile(); // Antager at Account er din modelklasse
    private bool loginFailed = false;

    private async Task HandleLogin()
    {
        var user = await DbContext.Accounts
            .FirstOrDefaultAsync(u => u.UserName == loginModel.UserName && u.Password == loginModel.Password); // Husk at hashe og sammenligne adgangskoder sikkert i en rigtig applikation

        if (user != null)
        {
            // Håndter succesfuldt login her
            SimpleAuthService.CurrentUser = user;
            SimpleAuthService.IsLoggedIn = true;
            NavigationManager.NavigateTo("/Account"); // Omdiriger til hjemmesiden eller en anden side efter login
        }
        else
        {
            loginFailed = true;
        }
    }
}
