@page "/ProfilDetail"
@inject ProfilDetail profildetail
@inject ICrud Icrud
@using Dating.Data.Crud.Interface



<h3>ProfilDetail</h3>

@* 
<EditForm Model="@profildetail" FormName="ad" OnValidSubmit="@CreateProfilDetail">
    <div class="form-group">
        <label for="Height">Height:</label>
        <InputText id="Height" class="form-control" @bind-Value="" />
    </div>

    <div class="form-group">
        <label for="Weight">Weight:</label>
        <InputText id="Weight" class="form-control" @bind-Value="" />
    </div>
    <!-- Knap til at fuldføre oprettelsen -->
    <button type="submit" class="btn btn-primary">Opret</button>
</EditForm>
 *@

@code {

   // public void Create


}
