@page "/ProfilDetail"


<h3>ProfilDetail</h3>


<EditForm Model="@ProfilDetail" FormName="ad" OnValidSubmit="@CreateAccount">
    <div class="form-group">
        <label for="Name">Name:</label>
        <InputText id="Name" class="form-control" @bind-Value="" />
    </div>

    <div class="form-group">
        <label for="Password">Password:</label>
        <InputText id="Password" class="form-control" @bind-Value="" />
    </div>
    <!-- Knap til at fuldføre oprettelsen -->
    <button type="submit" class="btn btn-primary">Opret</button>
</EditForm>


@code {



}
