@page "/Search"

<PageTitle>Søg</PageTitle>

<h3>Search after other users</h3>
<form action="/search" method="get">
    <label for="searchQuery">Search for people:</label>
    <input type="text" id="searchQuery" name="searchQuery" placeholder="Gender, CityId or Birthday">
    <button type="submit">Search</button>
</form>

@code 

    {

    }

